<h1>Deploy your application</h1>

<p>
	The "Deploy" page lets you build and publish your app. You may for instance publish your application on a Web server, build and retrieve an Android project, retrieve an iOS app ready for submission to the App Store...
</p>

<p>
	Once you have configured your deploy, hit <em>Deploy</em> to start the build process. You do not need to install additional software or development environment to get the result of a deploy. Deploys may take a few minutes to finish.
</p>

<img src="/img/factory-deploylist.png" alt="Screenshot of the deploy list" />

<h2>Available documented deploys</h2>
<ul>
	<li><a href="/doc/deploy/webdeploy">Web deploy</a></li>
	<li><a href="/doc/deploy/iosbuild">iOS build</a></li>
	<li><a href="/doc/deploy/appstore">App Store assisted deploy</a></li>
	<li><a href="/doc/deploy/chromestore">Chrome web store build</a></li>
    <li><a href="/doc/deploy/win8project">Windows 8 Visual Studio project</a></li>
	<li><a href="/doc/deploy/androidproj">Android project</a></li>
	<li><a href="/doc/deploy/googleplay">Google Play assisted deploy</a></li>
</ul>

<p>
	If you do not find the kind of deploy you look for, we invite you to <a href="/support">contact Joshfire</a>.
</p>
