<style type="text/css">
  .info {
    color:#c09853;

    padding: 10px 35px 10px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #c09853;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .screenshot {
    margin: 20px;
  }
</style>
<h1 id="teams">Teams</h1>

<p class="info"><strong>Note:</strong> Teams are an advanced feature available to our PRO users.</p>

<p>Teams have two goals:</p>

<ul>
<li>sharing applications and custom templates between members</li>
<li>simplifying the Factory UI by removing elements you don't need</li>
</ul>

<h2 id="sharing">Sharing</h2>

<p>Administrators of a team can share their applications and custom templates with the other members. When an administrator shares a custom template, everyone on the team can create applications with it. When an administrator shares an application, every members of the team can add datasources, tweak the options and deploy builds.</p>

<p>Here's what you see when you administer your team:</p>

<p><img class="screenshot" src="/img/team_admin.png" alt="" /></p>

<p>You can set your team's name and logo, choose who's on the team (members must have a Factory account) and select which templates and applications are shared.</p>

<h2 id="simplified-ui">Simplified UI</h2>

<p>If you need a team, chances are that your apps are focused on your templates only and on a restricted set of devices. Maybe you only work with some datasources and don't need all of them. Joshfire can customise the Factory UI for your team. Just tell us what you need (public templates, devices, datasources) and we'll hide everything else so that your team members find what they want immediately.</p>

<p><img class="screenshot" src="/img/team_devices.png" alt="" />
<img class="screenshot" width="600" src="/img/team_datasources.png" alt="" /></p>

<h2 id="multiple-teams">Multiple teams</h2>

<p>You can have multiple teams and work with different sets of people. For instance, you can have a "Browser team", that works on web apps and web tv, and a "Mobile team" that create apps for tablets and phone.</p>

<p>It only takes two clicks to switch between teams and the Factory is customised with the team logo so that you always know where you are.</p>

<p><img class="screenshot" src="/img/team_switcher.png" alt="" />
<img class="screenshot" src="/img/team_logo.png" alt="" /></p>

<h2 id="contact-us">Contact us</h2>

<p>If you think these features fit your needs and want a team, feel free to <a href="/support">contact us</a> and we'll create a team for you.</p>
