<h1>Features specific to a device family</h1>

<h2>iPhone/iPad</h2>

<h3><code class="json">statusTap</code> event</h3>

<p>On iOS applications, it has become quite standard to scroll to the top of the active list when the user tap on the status bar. To use this feature, you need to initialize it, and then listen for the <code class="json">statusTap</code> event.</p>

<p>Here is what should be done, preferably during your template initialization:</p>
<pre><code class="javascript">// 1. If the code that handles iOS devices is only 
// run for those devices you do not need this check.
if (window.plugins && window.plugins.tapToScroll) {
	// 2. Init the plugin
	window.plugins.tapToScroll.initListener();
	// 3. Listen for the statusTap event
	window.addEventListener('statusTap', function() {
		// 4. Scroll active list to top. This is specific
		// to your template.
	});
}
</code></pre>
