<h1>App Store assisted deploy</h1>

<h2>Elements to provide</h2>

<ul>
<li><strong>Application Name</strong></li>
<li><strong>High-res icon</strong>: 1024 x 1024px</li>
<li><strong>Application Description</strong>: 4000 characters max.</li>
<li><strong>Keywords</strong>: 100 characters max; separate by commas</li>
</ul>

<p>Read <a href="http://ofps.oreilly.com/titles/9781449389765/ch07.html#appstore_checklist
">this document</a> for a full description of the required elements.</p>
<p>Learn more about the best practices on <a href="http://developer.apple.com/library/mac/#documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/18_BestPractices/BestPractices.html">this page</a></p>
