<h1>Google PLay assisted deploy</h1>

<h2>Elements to provide</h2>

<ul>
<li><strong>Promo text</strong>: 80 characters</li>

<li><strong>Description</strong>: 4000 characters</li>

<li><strong>High-res icon</strong>: 512 x 512 32-bit PNG (with alpha)</li>

<li><strong>Feature Image</strong>(optional): 1024 w x 500 h. Read more about the guidelines in <a href="http://android-developers.blogspot.fr/2011/10/android-market-featured-image.html">this blog post</a>.</li>

<li><strong>Promo Video</strong>(optional): Youtube URL</li>

<li><strong>Category</strong>: select from <a href="http://support.google.com/googleplay/android-developer/answer/113475?hl=en&ref_topic=2897459">these categories</a></li>

<li><strong>Content ratings</strong>: select from <a href="http://support.google.com/googleplay/android-developer/answer/1075738?hl=en&ref_topic=2897459">these content ratings</a></li>

<li><strong>Contact Detail</strong>:a website URL, a public email</li>
</ul>
